# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    paypal_client_id: AQD6iLtG1mWtTDPY10FCC4lGPwk16-ufblA0d67yxfzYrIKIZIAbkVk_WTaqPrMN0oj2bNdHQ4pG34nj
    paypal_client_secret: ELUQZqCfMNa7n2suSzBwrfVuI1quRa4Q0bMwCyzKuIF8WULnB4iosigoAizpRk1wPGDbBosWjJIcnwjk
    paypal_mode: sandbox
    paypal_taxe_percent: 20